<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
</head>
<body>

<span th:if="${param.error != null}">
    <div style="color: red; ">ID or password is invalid</div>
    <br />
</span>

<form method="post" action="/login/process">
    <span th:text="ID" />: <input type="text" name="id" /><br />
    <span th:if="${session.invalidUsername}" style="color: red; ">ID Not Found</span><br />

    <span th:text="Password" />: <input type="password" name="pwd" /><br />
    <span th:if="${session.invalidPassword}" style="color: red; ">Password Not match</span><br />

    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input type="submit" />
</form>
</body>
</html>
